.task-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.form-el {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.task-container label {
    font-weight: bold;
}

.task-container input {
    padding: 0.3rem;
}
.task-container button {
    margin: 0
}