.form-container {
    width: min(50vw, 500px);
    padding: 1rem 2rem;
    margin: 0;
}

.form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.label{
    display: block;
    font-weight: bold;
}

.input {
    display: inline;
    padding: 0.4rem;
}

input[type="date"] {
    text-align: right;
}

.button {
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
}