.form-container {
  width: 80%;
  max-width: 350px;
  min-width: 200px;
  padding: 1rem 2rem;
  margin: 0;
}

.todo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  padding: 0.4rem;
  width: 100%;
}

input[type='date'] {
  width: auto;
  text-align: center;
  width: auto;
}

.button {
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.info-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.importance {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
