.list-container {
  margin-top: 2rem;
}
.todo-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
  gap: 1rem;
  padding: 1rem;
}

.list-container h2 {
  text-align: center;
  color: blueviolet;
  text-transform: capitalize;
}
.button-container {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.button-container button {
  text-transform: capitalize;
  background-color: white;
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: bold;
}

.button-container button:hover {
  color: blueviolet;
}

.button-container button:first-child {
  margin-left: 0;
}
